.section-about {
    padding-top: 0;

    &__title {
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__overlay {
        position: relative;
    }

    &__description {
        position: absolute;
        bottom: 0;
        left: 0;
    
        width: 100%;
    
        padding-top: 27px;
        padding-bottom: 27px;
    
        background-color: rgba(47, 48, 58, 0.8);
        color: var(--primary-white);
    
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }
}
