.section-clients{
    &__title {
        margin-bottom: 50px;
    }
}

.client {
    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
                
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 92px;

        color: var(--icons-color);
        border: 1px solid var(--icons-color);
        border-radius: 4px;
                
        transition: color var(--animation), 
                    border-color var(--animation);
                
        &:hover,
        &:focus {
            color: var(--accent);
            border-color: var(--accent);
        }
    }
                
    &__icon {
        fill: currentColor;
    }
}

@media screen and(min-width: 1200px){
    .client{
        &__link{
            width: 170px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .section-clients{
        &__title{
            margin-bottom: 30px;
        }
    }

    .client{
        &__list{
            flex-wrap: wrap;
        }

        @media screen and(max-width: 767px){
            &__item{
                width: calc(50% - 15px);
                min-width: 130px;
            }
        }

        &__link{
            @media screen and(min-width: 768px){
                width: 226px;
            }
        }
    }
}

