.page-footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
        display: flex;
        align-items: baseline;
    }

    .title{
        font-size: 14px;
        font-weight: 700;
        line-height: calc(16/14);
        text-align: left;
        text-transform: uppercase;
        color: var(--primary-white);
    }

    .logo.link {
        margin-right: 0;
    }

    .logo,
    .title{
        display: block;
        margin-bottom: 20px;
    }

    .logo{
        color: var(--primary-white);
    }
}

.addresses {
    margin-right: 70px;

    &__item{
        margin-bottom: 9px;

        &:last-child{
            margin-bottom: 0px;
        }
    }

    &__link {
        line-height: calc(24/14);
        color: rgba(255, 255, 255, .6);
        font-style: normal;
        text-decoration: none;
    
        transition: color var(--animation);

        &--location {
            color: var(--primary-white);
        }

        &--hover-focus:hover,
        &--hover-focus:focus {
            color: var(--accent);
        }
    }
}

.join{
    &__link {
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--primary-white);
    
        transition: background-color var(--animation);

        &:hover,
        &:focus{
            background-color: var(--accent);
        }
    }
}

.subscribe {
    margin-left: 94px;
}

.form-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        min-width: 358px;

        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;

        color: var(--primary-white);
        font-size: 16px;
        line-height: calc(20/16);

        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;

        background-color: inherit;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        transition: border-color var(--animation);

        &:focus{
            border-color: var(--accent);
        }
    }

    &__button {
        margin-left: 12px;
        padding: 10px 29px;

        background-color: var(--accent);

        font-size: 16px;
        font-weight: 700;
        line-height: calc(30/16);
        color: var(--primary-white);

        border-radius: 4px;
        border: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        display: inline-flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }
}

.button__icon {
    margin-left: 10px;
    fill: currentColor;
}