.section-order {
    background-color: var(--hero-color);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/hero.jpg');

    max-width: 1600px;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 200px 0;

    &__title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        letter-spacing: .06em;

        width: 696px;

        text-align: center;

        margin: 0 auto;
        margin-bottom: 30px;

        color: var(--primary-white);
    }

    &__container {
        text-align: center;
    }

    &__button {
        padding: 10px 32px;

        &:hover,
        &:focus{
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2),
                    0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 1px 3px rgba(0, 0, 0, 0.12);
        }
    }
}