body {
    background-color: var(--primary-white);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: .03em;
}

.no-scroll{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
